@charset "UTF-8";

/*@FONT FACE*/
@font-face {
    font-family: 'questrialregular';
    src: url('../fonts/questrial-regular-webfont.woff2') format('woff2'),
         url('../fonts/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*OPENSANS*/
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot');
	src: url('../fonts/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/opensans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FILTROS */
.opacity-7{
	opacity:.7;
	filter:alpha(opacity=70);
	-moz-opacity:.7;
	opacity:.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70)
}
.opacity-8{
	opacity:.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8;
	opacity:.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80)
}

/*!!!!! ATENCAO - Dar um replace na cor #D38139 pela cor sobresaente no site*/

/*BOTOES======================*/
/* videos */
.bt-up,.bt-down{ 
	background-color:#D38139;
	color:#FFF;
}
.bt-up.disabled,.bt-down.disabled{
	background-color:#DDD;
	color:#FFF;
}
.btn-custom {
	border-color: #D38139;
	background-color:#D38139;
	color: #FFF;
}
.btn-custom:hover,
.btn-custom:focus {
	background-color: #D38139;  
	color: #FFF;
}
.btn-custom:active,
.btn-custom.active {
	background-color:#D38139;
	border-color: #D38139;  
	color: #FFF;
}
.no-round {
	border-radius: 0;
}
.btn-warning {
	background-color: #FF8000;
	border-color: #FF8000;
	color: #fff;
}
.btn-warning.btn-transparent {
	color: #D28039;
}
.btn-warning.btn-transparent:hover {
	color: #FFF;
}
.btn-transparent {
	background-color: transparent;
	font-family: 'questrialregular', sans-serif;
	font-size: 18px;
	padding: 10px 30px;
}
/*IMG HOVER ======================*/
a:hover .thumbnail, a.thumbnail:hover,
a:hover .img-thumbnail, a.img-thumbnail:hover{
	border-color: #D38139 !important;
}

/*PAGINACAO========================*/
.pagination > li > a, 
.pagination > li > span {
	color: #222;
}

/* cor dos textos dos boxes */

.box-xs-3 h2,
.box-xs-6 h2,
.box-xs-12 h2,
.box-xs-12-p h3{
	color: #000;
	text-align: center;
}

.box-xs-3 p,
.box-xs-6 p,
.box-xs-12 p,
.box-xs-12-p p{
	color: #000;
}

.list-group a{
	color: #777;
}

/*PAGE WRAPER==========================*/

html,body{
	width: 100%;
	height:100%;
}
.wrapper{
	min-height:100vh;
}

/*BANNER E SEUS RELATIVOS==============*/
.area-banner {
	padding: 0;
	position:relative;
	width: 100%; height: auto; /*TAMANHO DA IMAGEM DO BANNER*/
}
.banners{
	border-bottom: 1px solid #BFDCE3;
	border-top: 1px solid #BFDCE3;
	z-index: 1;
	width: inherit;
	height: inherit;
	overflow: hidden;
	position: absolute;
}
.banners a{
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	height: inherit;
	width: inherit;
}
#banner-nav {
	padding-top: 28.5416%; /* altura banner / largura banner*/
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: -50px;
	height: 45px;
	width: 222px;
	line-height: 43px;
}
#banner-nav a {
	border: 1px solid #17355C;
	color: #17355C;
	cursor: pointer;
	display: inline-block;
	font-size: 40px;
	position: relative;
	text-align: center;
	width: 50%;
	z-index: 1;
}
#banner-nav a:hover {
	color: #fff;
}
#banner-nav a.prev {
	float: left;
}
#banner-nav a.next {
	border-left: 0;
	float: right;
}

/*** fim das preconfiguracoes do starter */

/* faca aqui o melhor css ja visto antes */
body, p {
	color: #010101;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4 {
	font-family: 'latolight', sans-serif;
}
iframe {
	border: none;
}
body, p, h1, h2, h3, th, td {
	line-height: 120%;
}
p {
	color: #212121;
	margin-bottom: 15px;
}
.btn {
	transition: all .25s ease-out;
}
.btn:active {
	transform: scale(.95);
}
.wrapper > article.container,
.wrapper > section.container {
	margin-bottom: 100px;
}
.no-padding {padding: 0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.icone {
	background-image: url(../imagens/sprites.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.middle {
	bottom: 0;
	margin-bottom: auto;
	margin-top: auto;
	position: absolute;
	top: 0;
}
.icone.telefone {
	background-position: 0 0;
	height: 24px;
	width: 9px;
}
.icone.whatsapp {
	background-position: -9px 0;
	height: 28px;
	width: 26px;
}
.icone.email {
	background-position: -35px 0;
	height: 17px;
	width: 22px;
}
.icone.twitter {
	background-position: -57px 0;
	height: 24px;
	width: 29px;
}
.icone.facebook {
	background-position: -86px 0;
	height: 24px;
	width: 13px;
}
.icone.telefone-b {
	background-position: 0 -24px;
	height: 24px;
	width: 9px;
}
.icone.whatsapp-b {
	background-position: -9px -28px;
	height: 28px;
	width: 26px;
}
.icone.email-a {
	background-position: -35px -17px;
	height: 17px;
	width: 22px;
}
.icone.endereco {
	background-position: -99px 0;
	height: 32px;
	width: 22px;
}

/* TOPO */
#topo {
	color: #58595A;
	position: relative;
	z-index: 10;
}

#logo {
	display: inline-block;
	margin-bottom: 12px;
	margin-top: 10px;
}
#topo .area-contato {
	border-bottom: 1px solid #BFDCE3;
	text-align: center;
}
#topo .area-contato > span {
	display: block;
	padding: 5px 0;
}
#topo .area-contato .divisor {
	border-left: 1px solid #BFDCE3;
	height: 100%;
}

#menu {
	margin-top: 57px;
	padding-bottom: 7px;
	position: relative;
}
#menu ul {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#menu ul.active {
	display: block;
}
#menu > ul > li {
	display: block;
	padding: 0 1px;
}
#menu > ul > li > a {
	color: #585959;
	display: block;
	font-family: 'questrialregular', sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 27px;
	padding: 0 8px;
	position: relative;
	text-decoration: none;
}
#menu > ul > li > a:hover,
#menu > ul > li.active > a {
	color: #D38139;
	position: relative;
}
#menu > ul > li > a:after {
	border-top: 3px solid #17355C;
	content: '';
	height: 3px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 100%;
	width: 0;
	transition: all .2s linear;
}
#menu > ul > li > a:hover:after,
#menu > ul > li.active > a:after {
	width: 40%;
}
#menu #btn-mobile-menu {
	background-color: transparent;
	border: 1px solid #BFDCE3;
	border-radius: 0;
	color: #BFDCE3;
	float: right;
	font-size: 25px;
	line-height: 40px;
	padding: 0 10px;
	z-index: 810;
}
#menu #btn-mobile-menu:hover,
#menu #btn-mobile-menu:active,
#menu #btn-mobile-menu:focus {
	background-color: #BFDCE3;
	color: #FFF;
	outline: none;
}

/* HOME */
header h1,
header h2,
header h3{
	color: #D38139;
	font-family: 'questrialregular', sans-serif;
	margin: 0;
}
.page-header h1,
.section-header h2 {
	font-size: 28px;
	margin-top: 20px;
}
.page-header,
.section-header {
	margin-bottom: 30px;
	padding-bottom: 10px;
	position: relative;
}
.page-header:before,
.section-header:before {
	content: '';
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	border-left: 44px solid #17355C;
	border-right: 5px solid #17355C;
	width: 55px;
}
.page-header:after,
.section-header:after {
	content: '';
	height: 2px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #BFDCE3;
	width: calc(100% - 60px);
}

.area-sobre .row > div {
	margin-top: 32px;
}

.area-sobre .area-imagens {
	background-image: url(../imagens/adorno.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	max-width: 475px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
	text-align: center;
}

.area-sobre .area-imagens > figure,
.area-sobre .area-imagens .img-responsive {
	display: inline-block;
}
.area-sobre .chamada {
	min-height: 350px;
}

.cycle-slideshow {
	margin-left: auto;
	margin-right: auto;
	transition: all .5s linear;
}

.area-servicos {
	background-image: url(../imagens/fundo-area-servicos.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	padding-bottom: 60px;
	padding-top: 20px;
}
.cycle-servicos {
	margin-top: 20px;
	width: 222px;
}
.cycle-servicos .item {
	display: inline-block;
	vertical-align: top;
	width: 222px;
}
@media (min-width: 480px) {
	.cycle-servicos {
		width: 450px;
	}
	.cycle-servicos .item {
		margin-right: 6px;
	}
}
@media (min-width: 768px) {
	.cycle-servicos {
		width: 700px;
	}
	.cycle-servicos .item {
		margin-right: 22px;
	}
}
@media (min-width: 992px) {
	.cycle-servicos {
		width: 969px;
	}
	.cycle-servicos .item {
		margin-right: 27px;
	}
}
.cycle-servicos .item > a {
	background-color: #292B2C;
	color: #BFDCE3;
	display: block;
	text-decoration: none;
	height: 301px;
}
.cycle-servicos .item > a:hover {
	background-color: #17355C;
	color: #fff;
}
.cycle-servicos .item figure {
	margin-bottom: 20px;
	position: relative;
}
.cycle-servicos .item figure:before,
.cycle-servicos .item figure:after {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all .2s linear;
}
.cycle-servicos .item .nome {
	font-family: 'OpenSansLight', sans-serif;
	font-size: 18px;
	line-height: 120%;
	position: relative;
	text-align: center;
	white-space: normal;
}
.cycle-servicos .item .nome:before {
	border-left: 44px solid #17355C;
	border-right: 5px solid #17355C;
	content: '';
	height: 2px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -5px;
	width: 55px;
}
.cycle-servicos .item a:hover .nome:before {
	border-color: #B57741;
}
#pager-servicos {
	width: 222px;
	margin: 30px auto;
	height: 45px;
	line-height: 43px;
	border: 1px solid #FFF;
}
#pager-servicos:before,
#pager-servicos:after {
	display: table;
	clear: both;
	content: '';
}
#pager-servicos a {
	color: #FFF;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	width: 49%;
}
#pager-servicos a.prev {
	float: left;
	position: relative;
}
#pager-servicos a.prev:after {
	background-color: #fff;
	content: '';
	height: 80%;
	position: absolute;
	right: -1px;
	top: 10%;
	width: 1px;
}
#pager-servicos a.next {
	float: right;
}

.area-servicos .chamada,
.area-servicos .chamada p {
	color: #FFF;
	font-size: 14px;
}
.area-clientes {
	margin-bottom: 73px;
}
.area-clientes p {
	font-family: 'OpenSansLight', sans-serif;
	font-size: 24px;
	line-height: 120%;
}
.cycle-clientes {
	position: relative;
}
.cycle-clientes .cycle-slideshow {
	width: 90%;
}
.cycle-clientes .cycle-slideshow .item {
	border: 1px solid #B0B1B3;
	height: 135px;
	margin-right: 28px;
	width: 135px;
}
.cycle-clientes .cycle-pager a {
	color: #17355C;
	font-size: 40px;
	height: 135px;
	line-height: 135px;
	position: absolute;
	top: 0;
}
.cycle-clientes .cycle-pager a.prev {
	left: 0;
}
.cycle-clientes .cycle-pager a.next {
	right: 0;
}

/* INTERNAS*/
.page-header {
	border: none;
}
.page-body p {
	color: #444444;
	font-family: 'OpenSansRegular', sans-serif;
	font-size: 15px;
}
.page-list .box-xs-12,
.page-list .box-xs-12-p {
	border-radius: 2px;
	padding: 10px 5px;
	margin-bottom: 10px;
}
.page-list .box-xs-12-p a {
	display: block;
	text-decoration: none;
}
.page-list .box-xs-12-p:before,
.page-list .box-xs-12-p:after {
	clear: both;
	content: '';
	display: table;
}
.page-list .box-xs-12:hover,
.page-list .box-xs-12-p:hover {
	background-color: rgba(0,0,0,.1);
}
h2.titulo-descricao {
	color: #000;
	font-family: 'ubuntubold', sans-serif;
	font-size: 20px;
	text-align: left;
	text-transform: uppercase;
}
.page-list li h2,
.page-list li h3 {
	color: #000;
	font-family: 'ubuntubold', sans-serif;
	font-size: 14px;
}
.page-list li a {
	text-decoration: none;
}
.page-list li p {
	color: #000;
	font-size: 13px;
}
.page-list .box-xs-12 .col-md-3 figure,
.page-list .box-xs-12-p .col-md-3 figure {
	border: 0;
	border-radius: 20px;
	padding: 0;
	height: 160px;
	width: 220px;
}

.miniatura {
	border: none;
	border-radius: 0;
	margin-left: auto;
	margin-right: auto;
}
.miniatura img {
	left: 0;
}
.panel-title {
	text-align: right;
}
.pagination {
	background-color: #FFFFFF;
}
.pagination a {
	font-size: 12px;
}
.pagination>li>a:hover {
	border-color: #CCC;
}
.pagination>li>a,
.pagination>li>span {
	background-color: transparent;
	border-color: #CCC;
	color: #000;
	font-size: 12px;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	background-color: #D38139;
	border-color: #CCC;
	color: #FFF;
	font-size: 12px;
}
.form-group {
	margin-bottom: 14px;
}
.form-group:before,
.form-group:after {
	clear: both;
	content: '';
	display: table;
}
label.radio-label {
	display: inline-block;
	padding: 0 10px;
}
.pagina-contato iframe {
	height: 450px;
	width: 100%;
}

/* RODAPE */
.site-footer{
	background-color: #58595B;
	color: #FFF;
	padding-top: 12px;
	position: relative;
}
.site-footer a,
.site-footer li,
.site-footer p {
	color: #FFF;
	font-family: 'OpenSansLight', 'OpenSansRegular', sans-serif;
	font-size: 14px;
	line-height: 130%;
}

.icone.logo-rodape {
	background-position: 0 -56px;
	height: 66px;
	width: 130px;
}

.site-footer .faixa-blocos {
	background-color: #17355C;
	text-align: center;
}
.site-footer .container > .endereco .icone,
.site-footer .faixa-blocos .icone {
	display: block;
	margin: 10px auto;
}
.site-footer .faixa-blocos .blocos > div {
	padding: 20px 0;
}
.site-footer .faixa-blocos .blocos > div.bloco-logo {
	background-color: #FFF;
}
.site-footer .faixa-blocos .blocos > div.telefone {
	background-color: #D48239;
}
.site-footer .faixa-blocos .blocos > div.email {
	background-color: #BFDCE3;
	color: #17355C
}
@media (min-width: 768px) {
	.site-footer .faixa-blocos .blocos {
		display: table;
		width: 100%;
	}
	.site-footer .faixa-blocos .blocos > div {
		display: table-cell;
		height: 113px;
		padding: 0;
		vertical-align: middle;
		width: 25%;
	}
	.site-footer .faixa-blocos .blocos > div.bloco-logo {
		width: 17%;
	}
	.site-footer .faixa-blocos .blocos > div.redes-sociais {
		width: 8%;
	}
}

.site-footer .area-mapa,
.site-footer .area-mapa iframe {
	height: 280px;
	width: 100%;
}

/*Creditos ==========================*/
.site-footer .sub-rodape {
	padding: 15px 0;
}
#logo-gv8{
	background: url(../imagens/sprites.png) no-repeat -64px -35px;
	display:block;
	height: 21px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 66px;
}

.site-footer .sub-rodape,
.site-footer .sub-rodape a{
	font-family: 'OpenSansLight', Verdana, sans-serif;
	color: #FFF;
	font-size: 11px;
}
.site-footer .sub-rodape a:hover {
	color: #FFF;
}
@media (max-width: 991px) {
	#topo .area-contato a {
		display: inline-block;
		padding: 5px 10px;
	}
	#menu:after {
		clear: both;
		content: '';
		display: table;
	}
	#logo {
		height: auto;
	}
	.chamada-videos .chamada {
		margin-left: auto;
		margin-right: auto;
	}
	.site-footer {
		height: auto;
	}
	.site-footer .sub-rodape {
		height: auto;
		position: static;
	}
	.site-footer:after {
		clear: both;
		content: '';
		display: table;
	}
}
@media (max-width: 767px) {
	#topo .col-menu,
	#topo .col-menu #menu {
		position: static;
	}
	#menu {
		margin: 20px auto;
		left: 0;
		min-height: 40px;
		padding: 0 15px;
		z-index: 1000;
		width: 100%;
	}
	#menu > ul {
		padding: 5px;
		overflow: hidden;
		width: 80%;
	}
	#menu > ul > li a {
		display: block;
		line-height: 120%;
		padding: 15px;
		transition: none;
	}
	#menu ul li a:active {
		box-shadow: 2px 2px 8px rgba(0,0,0,.5) inset;
	}
	#topo .redes-sociais,
	#topo .col-contato {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	#topo .redes-sociais {
		text-align: center;
	}
	#logo-gv8{
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.creditos {
		text-align: center;
	}
	.pagina-contato:before {
		clear: both;
		content: '';
		display: table;
	}
	.pagina-contato {
		padding-top: 30px;
	}
	.area-galerias .container {
		padding: 0 15px;
	}
	.area-sobre .area-imagens > figure {
		width: 40%;
	}
}
@media (max-width: 479px) {
	.btn-submit {
		display: block;
		float: none;
		min-height: 40px;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
	#btn-mobile-menu {
		display: none;
	}
	#menu > ul {
		display: block !important;
		max-width: 970px;
		white-space: nowrap;
		width: auto;
	}
	#menu > ul > li {
		display: inline-block;
	}
	#menu > ul > li:first-child {
		padding-left: 0;
	}
	#menu > ul > li:last-child {
		padding-right: 0;
	}

	.area-sobre .area-imagens > figure {
		position: absolute;
	}
	.area-sobre .area-imagens > figure:nth-child(1) {
		left: 20%;
		bottom: 20%;
		z-index: 2;
	}
	.area-sobre .area-imagens > figure:nth-child(2) {
		left: 0;
		top: 0;
	}
	.area-sobre .area-imagens > figure:nth-child(3) {
		right: 0;
		top: 0;
	}
	.area-sobre .area-imagens > figure:nth-child(4) {
		right: 0;
		bottom: 0;
	}
	.text-left-sm {
		text-align: left;
	}
	.site-footer .col-logo {
		text-align: center;
	}
	.site-footer .col-contato {
		padding-left: 38px
	}
	.form-group .control-label {
		text-align: right;
	}
	.site-footer .sub-rodape .row > div {
		padding-top: 10px;
	}
	.site-footer .sub-rodape .row > div:last-child{
		text-align: right;
	}
	#logo-gv8{
		float: right;
		margin-top: -7px;
		margin-left: 10px;
	}
}
@media (min-width: 992px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
		width: 970px !important;
	}
	#topo .area-contato {
		border-left: 1px solid #BFDCE3;
		display: flex;
		align-items: center;
		justify-content: space-around;
		height: 45px;
	}
	#topo:after {
		/* BORDA QUE FAZ A ÁREA CONTATO DO TOPO PARECER INFINITA */
		border-bottom: 1px solid #BFDCE3;
		position: absolute;
		width: 50%;
		content: '';
		height: 0;
		top: 44px;
		right: 0;
	}
	#menu > ul {
		display: flex !important;
		align-items: center;
		justify-content: space-between;
	}
}